@page
@using AspTest.components;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Let's start!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 class="display-6">Dont worry, it will be fine</h2>
</div>


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))


<script src="_framework/blazor.server.js"></script>

